/* You can add global styles to this file, and also import other style files */
@import "src/assets/sass/base-dir";
@import "src/assets/sass/custom-fonts";

html, body, app-root { display: flex; flex: 1 1 auto; }
router-outlet + * {
  display: flex;
  flex: 1 1 auto;
}
body { margin: 0; font-family: Outfit, Roboto, "Helvetica Neue", sans-serif; }

/*
md-backdrop{
  position: fixed;
}

.md-dialog-container{
  position:fixed;
  top:0 !important;
  overflow:hidden;
}
.md-dialog-is-showing {
  position: fixed;
  top: 0 !important;
  overflow: hidden;
}
*/

.mat-dialog-container{
  background: rgba(255,255,255,0.5);
}
