/* You can add global styles to this file, and also import other style files */
@use "base-dir" as bd;
@import "custom-fonts";
@import "~node_modules/tinymce/skins/ui/oxide/skin.min.css";
@import "~node_modules/tinymce/skins/ui/oxide/content.min.css";
@import "~node_modules/tinymce/skins/content/default/content.min.css";
// Choose one of two theme
//@import "~quill/dist/quill.snow.css";
//@import "node_modules/quill/dist/quill.bubble.css";


html, body, app-root { display: flex; flex: 1 1 auto; }
router-outlet + * {
  display: flex;
  flex: 1 1 auto;
}
body { margin: 0; font-family: Outfit, Roboto, "Helvetica Neue", sans-serif; }

/*
md-backdrop{
  position: fixed;
}

.md-dialog-container{
  position:fixed;
  top:0 !important;
  overflow:hidden;
}
.md-dialog-is-showing {
  position: fixed;
  top: 0 !important;
  overflow: hidden;
}
*/

.mat-dialog-container{
  background: rgba(255,255,255,0.5);
}
