@import "variables";

div#contact-page{
  width: 100%;
}
header{
  display: flex;
  width: 100%;

  portfolio-header{
    flex: 1 1 auto;
    z-index: 10;
    background: rgba(50,49,80,0.9);

  }
}

main{
  display: flex;
  flex: 1 1 auto;
  background: $blue-darker2;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: "Original Surfer", Roboto, "Helvetica Neue", sans-serif;
    font-size: 2rem;
    text-shadow: 1px 1px 3px black;
    font-weight: 400;
    z-index: 1;
  }

  app-contact-form{
    margin-bottom: 50px;
  }
}
