<div id="skillpage">
  <header>
    <portfolio-header></portfolio-header>
  </header>
  <main>
    <div
      class="items-wrapper"
      #wrapper
    >
      <div id="academic-timeline" class="item">
        <div class="bg"></div>
        <h1>Academic background</h1>
        <div
          class="card"
        >
          <mat-card class="skills-card">

            <mat-stepper orientation="vertical" #stepper>
              <mat-step state="university">
                <ng-template matStepLabel>
                  2006 UCL - Catholic university of Louvain
                </ng-template>
                <ng-template matStepContent>
                  <p>
                    Catholic University of Louvain.
                    My study was a Bachelor in Economic sciences and management
                  </p>
                  <button mat-button matStepperNext>Next</button>
                </ng-template>
              </mat-step>
              <mat-step state="university">
                <ng-template matStepLabel>
                  2010 EPHEC - Brussels/Bruxelles
                </ng-template>
                <ng-template matStepContent>
                  <p>
                    EPHEC is a higher education institute based in Brussels.
                    My academic study was in International Business.
                  </p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </ng-template>

              </mat-step>
              <mat-step state="graduation">
                <ng-template matStepLabel>
                  2016 Saint-Laurent's instute - Luik/Liége
                </ng-template>
                <ng-template matStepContent>
                  <p>
                    <a href="https://www.isl.be/institut/qui-nous-sommes/">Saint-Laurent's higher education institute</a> is based in Luik/Liége in the eastern Belgium.
                    I've finished a Bachelor in Web Development
                  </p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </ng-template>

              </mat-step>
              <mat-step label="IPEPS - Verviers" state="university">
                <ng-template matStepLabel>
                   2019 IPEPS - Verviers
                </ng-template>
                <ng-template matStepContent>
                  <p>
                    <a href="">IPEPS</a> institute is based in Verviers in the eastern Belgium.
                    I've started a Bachelor in computer science and management
                  </p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </ng-template>

              </mat-step>
              <!-- Icon overrides. -->
              <ng-template matStepperIcon="university">
                <fa-icon [icon]="icons.university"></fa-icon>
              </ng-template>
              <ng-template matStepperIcon="graduation">
                <fa-icon [icon]="icons.graduation"></fa-icon>
              </ng-template>
            </mat-stepper>

          </mat-card>
        </div>
        <button
          mat-button
          color="primary"
          class="show-more"
          (click)="see_more(1)"
        >
          <mat-icon>expand_more</mat-icon>
          See more
        </button>
      </div>
      <div id="backend-skills" class="item">
        <div class="bg"></div>
        <h1>Back-end skills</h1>
        <div
          class="card"
        >
          <mat-card class="skills-card">
            <mat-card-content>
              <mat-card-title>Programming Language</mat-card-title>
              <mat-card-content>
                <div class="row">
                  <div class="title">PHP</div>
                  <app-progress-bar
                    [progress]="89"
                    [total]="100"
                  ></app-progress-bar>
                </div>
                <div class="row">
                  <div class="title">Javascript</div>
                  <app-progress-bar [progress]="75" [total]="100"></app-progress-bar>
                </div>
                <div class="row">
                  <div class="title">C++</div>
                  <app-progress-bar [progress]="25" [total]="100"></app-progress-bar>
                </div>
                <div class="row">
                  <div class="title">Java</div>
                  <app-progress-bar [progress]="15" [total]="100"></app-progress-bar>
                </div>
              </mat-card-content>

              <mat-card-content>
                <mat-card-title>Frameworks & API</mat-card-title>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary" selected>Symfony</mat-chip>
                  <mat-chip color="primary" selected>Node.js</mat-chip>
                  <mat-chip color="accent" selected>AWS</mat-chip>
                  <mat-chip color="accent" selected>Firebase</mat-chip>
                  <mat-chip color="warn">Stripe</mat-chip>
                  <mat-chip color="warn">UPS - rating</mat-chip>
                </mat-chip-list>

              </mat-card-content>
              <mat-card-content>
                <mat-card-title>Server & Database</mat-card-title>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary" selected>AWS</mat-chip>
                  <mat-chip color="primary" selected>Firebase</mat-chip>
                  <mat-chip color="warn" selected>Apache Server</mat-chip>
                  <mat-chip color="warn" selected>Nginx</mat-chip>
                  <mat-chip color="warn" selected>Docker</mat-chip>
                  <mat-chip color="warn" selected>Nginx</mat-chip>
                  <mat-chip color="accent" selected>MySQL</mat-chip>
                  <mat-chip color="accent" selected>NoSQL</mat-chip>
                  <mat-chip color="accent" selected>GraphQL</mat-chip>
                  <mat-chip color="yellow" selected>Jira</mat-chip>
                  <mat-chip color="primary" selected>OVH</mat-chip>
                  <mat-chip color="yellow" selected>Raspberry Pi</mat-chip>
                </mat-chip-list>

              </mat-card-content>
            </mat-card-content>
          </mat-card>
        </div>
        <button
          mat-button
          class="show-more"
          color="primary"
          (click)="see_more(2)"
        >
          <mat-icon>expand_more</mat-icon>
          See more
        </button>
        <button
          class="go-top-button"
          (click)="see_more(0)"
        >
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
      <div id="frontend-skills" class="item">
        <div class="bg"></div>
        <h1>Front-end skills</h1>
        <div
          class="card"
        >
          <mat-card class="skills-card">
            <mat-card-content>
              <mat-card-title>Programming Language</mat-card-title>
              <mat-card-content>
                <div class="row">
                  <div class="title">PHP</div>
                  <app-progress-bar
                    [progress]="78"
                    [total]="100"
                  ></app-progress-bar>
                </div>
                <div class="row">
                  <div class="title">Javascript</div>
                  <app-progress-bar [progress]="75" [total]="100"></app-progress-bar>
                </div>
                <div class="row">
                  <div class="title">Typescript</div>
                  <app-progress-bar [progress]="55" [total]="100"></app-progress-bar>
                </div>
                <div class="row">
                  <div class="title">Java</div>
                  <app-progress-bar [progress]="15" [total]="100"></app-progress-bar>
                </div>
              </mat-card-content>

              <mat-card-content>
                <mat-card-title>Frameworks & API</mat-card-title>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary" selected>React</mat-chip>
                  <mat-chip color="primary" selected>Angular</mat-chip>
                  <mat-chip color="accent" selected>JQuery</mat-chip>
                  <mat-chip color="accent" selected>GSAP</mat-chip>
                  <mat-chip color="primary" selected>Sass</mat-chip>
                  <mat-chip color="warn" selected>Karma</mat-chip>
                  <mat-chip color="warn" selected>Jasmine</mat-chip>
                </mat-chip-list>

              </mat-card-content>
            </mat-card-content>
          </mat-card>
        </div>
        <button
          mat-button
          class="show-more"
          (click)="see_more(3)"
        >
          <mat-icon>expand_more</mat-icon>
          See more
        </button>
        <button
          class="go-top-button"
          (click)="see_more(0)"
        >
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
      <div id="others-skills" class="item">
        <div class="bg"></div>
        <h1>Others skills</h1>
        <div
          class="card"
        >
          <mat-card class="skills-card">
            <mat-card-content>
              <mat-card-title>Mobile cross-platform app</mat-card-title>
              <mat-card-content>
                <div class="row">
                  <div class="title">Javascript/Typescript</div>
                  <app-progress-bar
                    [progress]="75"
                    [total]="100"
                  ></app-progress-bar>
                </div>
                <div class="row">
                  <div class="title">React Native</div>
                  <app-progress-bar [progress]="72" [total]="100"></app-progress-bar>
                </div>
              </mat-card-content>

              <mat-card-content>
                <mat-card-title>Principles & soft-skills</mat-card-title>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary" selected>Agile</mat-chip>
                  <mat-chip color="primary" selected>SOLID</mat-chip>
                  <mat-chip color="primary" selected>Test-driven development</mat-chip>
                  <mat-chip color="accent" selected>Firebase</mat-chip>
                </mat-chip-list>

              </mat-card-content>
              <mat-card-content>
                <mat-card-title>Languages</mat-card-title>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary" selected>French</mat-chip>
                  <mat-chip color="primary" selected>English</mat-chip>
                  <mat-chip color="accent" selected>Spanish</mat-chip>
                  <mat-chip color="warn" selected>Kirundi</mat-chip>
                </mat-chip-list>
              </mat-card-content>
            </mat-card-content>
          </mat-card>
        </div>
        <button
          mat-button
          class="show-more"
          (click)="see_more(0)"
        >
          <mat-icon>expand_more</mat-icon>
          See more
        </button>
        <button
          class="go-top-button"
          (click)="see_more(0)"
        >
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
    </div>

  </main>
</div>


