@import "~src/assets/sass/variables";

form{
  display: flex;
  flex-direction: column;
  background: $dark-color;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  gap: 1rem;
  padding: 2rem;

  mat-form-field{
    width: 45vh;
    textarea{
      min-height: 10vh;
    }
  }

  button[disabled]{
    border: 1px solid red;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    mat-icon{
      margin-right: 1rem;
    }
  }
}
