@use "variables" as v;

form{
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  gap: 0.8rem 1rem;
  padding: 2rem;

  mat-form-field{
    width: 80vh;
  }

  button[disabled]{
    border: 1px solid red;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    mat-icon{
      margin-right: 1rem;
    }
  }
}
