<div id="workpage">
  <header>
    <portfolio-header></portfolio-header>
  </header>
  <main #wrapper>
    <section>
      <div class="bg"></div>
      <h1>Mobile cross-platform application</h1>
      <div
        class="card"
      >
        <mat-card class="skills-card">
          <mat-card-header>
            <!--
              <mat-card-title>Academic</mat-card-title>
            -->
          </mat-card-header>
          <mat-card-content>
            <portfolio-work-dialog></portfolio-work-dialog>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Next</button>
            <button mat-button>Previous</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <button
        mat-button
        class="show-more"
        (click)="see_more(1)"
      >
        <mat-icon>expand_more</mat-icon>
        See more
      </button>
      <button
        class="go-top-button"
        (click)="see_more(0)"
      >
        <mat-icon>expand_less</mat-icon>
      </button>
    </section>
    <section>
      <div class="bg"></div>
      <h1></h1>
      <div
        class="card"
        fadeInAnimation
        [duration]="1"
        [delay]="1"
      >
        <mat-card class="skills-card">
          <mat-card-header>
            <mat-card-title>Academic</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="title">PHP</div>

              <app-progress-bar
                [progress]="89"
                [total]="100"
              ></app-progress-bar>
            </div>
            <div class="row">
              <div class="title">Javascript</div>
              <app-progress-bar [progress]="89" [total]="100"></app-progress-bar>
            </div>
            <div class="row">
              <div class="title">C++</div>
              <app-progress-bar [progress]="89" [total]="100"></app-progress-bar>
            </div>
            <div class="row">
              <div class="title">Java</div>
              <app-progress-bar [progress]="89" [total]="100"></app-progress-bar>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Next</button>
            <button mat-button>Previous</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <button
        mat-button
        class="show-more"
        (click)="see_more(2)"
      >
        <mat-icon>expand_more</mat-icon>
        See more
      </button>
      <button
        class="go-top-button"
        (click)="see_more(0)"
      >
        <mat-icon>expand_less</mat-icon>
      </button>
    </section>
    <section>
      <div class="bg"></div>
      <h1>SCROLL MORE TO SEE MORE</h1>
      <div
        class="card"
        fadeInAnimation
        [duration]="1"
        [delay]="1"
      >
        <mat-card class="skills-card">
          <mat-card-header>
            <mat-card-title>Academic</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="title">PHP</div>

              <app-progress-bar
                [progress]="89"
                [total]="100"
              ></app-progress-bar>
            </div>
            <div class="row">
              <div class="title">Javascript</div>
              <app-progress-bar [progress]="89" [total]="100"></app-progress-bar>
            </div>
            <div class="row">
              <div class="title">C++</div>
              <app-progress-bar [progress]="89" [total]="100"></app-progress-bar>
            </div>
            <div class="row">
              <div class="title">Java</div>
              <app-progress-bar [progress]="89" [total]="100"></app-progress-bar>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Next</button>
            <button mat-button>Previous</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <button
        mat-button
        class="show-more"
        (click)="see_more(3)"
      >
        <mat-icon>expand_more</mat-icon>
        See more
      </button>
    </section>
    <section>
      <div class="bg"></div>
      <h1>LOVING THE IMAGES</h1>
      <button
        mat-button
        class="show-more"
        (click)="see_more(4)"
      >
        <mat-icon>expand_more</mat-icon>
        See more
      </button>
    </section>
    <section>
      <div class="bg"></div>
      <h1>NICE, RIGHT?</h1>
      <button
        mat-button
        class="show-more"
        (click)="see_more(0)"
      >
        <mat-icon>expand_more</mat-icon>
        See more
      </button>
    </section>
  </main>
</div>
