@use "variables" as v;

div#homepage{
  display: flex;
  flex: 1 1 auto;
  width: 100vh;
  height: 100vh;

  header{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;

    portfolio-header{
      flex: 1 1 auto;
    }
  }

  main{
    display: flex;
    flex: 1 1 auto;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;

    #particles-js{
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: -1;
      top:0;
      bottom:0;
      right:0;
      left: 0;
      background-color: v.$dark-color;
    }

    .card{
      display: flex;
      align-self: center;

    }



  }
}
