/**
 * @angular/material custom theme configuration
 * this file is included in angular.json
 */
@use "@angular/material" as mat;
@import "variables";


@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette);


$my-accent: mat.define-palette(mat.$amber-palette);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$red: mat.define-palette(mat.$red-palette);

// Yellow
$yellow: mat.define-palette(mat.$yellow-palette);

// Green
$green: mat.define-palette(mat.$green-palette);

// Orange
$orange: mat.define-palette(mat.$orange-palette);

// Blue
$blue-darker: mat.define-palette(mat.$blue-palette, 900);
$blue-dark: mat.define-palette(mat.$blue-palette, 700);
$blue: mat.define-palette(mat.$blue-palette, 500, 700, 900);

$my-light-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: (
    font-family: Outfit,
    font-size: 1rem,
    font-weight: 400
  ),
));

$my-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

// Apply my themes by default
//@include mat.core-theme($my-light-theme);
//@include mat.core-theme($my-dark-theme);

// chip-theme error
//@include mat.chips-theme($my-dark-theme);
//@include mat.chips-theme($my-light-theme);

//@include mat.all-component-colors($my-dark-theme);
//@include mat.all-component-colors($my-light-theme);

// Apply my themes to all component
//@include mat.all-component-themes($my-light-theme);
//@include mat.all-component-themes($my-dark-theme);
