@import "src/assets/sass/variables";
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

div#skillpage{
  display: flex;
  flex: 1 1 auto;
  width: 100vh;
  height: 100vh;


  header{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;

    portfolio-header{
      flex: 1 1 auto;
      z-index: 1;
    }
  }

  main{
    display: flex;
    flex: 1 1 auto;
    //width: 100vh;
    //height: 100vh;
    background: url("../../../../assets/bg/blue-bottom-lines.jpg") #125EA9 no-repeat fixed right top;
    background-size: 100% 100%;
    flex-direction: column;


    div.items-wrapper{
      width: 100%;
      //height: 100vh;
      background-color: red;


      div.item{
        width: 100%;
        height: 100vh;
        background-color: #125EA9;
        position: relative;
        //z-index: -2;

        div.bg{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          z-index: 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0;
        }

        h1{
          font: bold 2.5rem "Original Surfer";
          position: absolute;
          top: 100px;
        }

        div.card{
          display: flex;
          width: 500px;
          position: absolute;
          top: 180px;
          //border-top: 2px solid black;
          border-left: 1px rgba(0,0,0,0.2);
          border-right: 1px rgba(0,0,0,0.3);
          border-bottom: 2px solid rgba(0,0,0,0.4);
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

          mat-card{
            width: 100%;
            mat-card-content{
              padding: 0.5rem 0.2rem 1rem 0.2rem;
            }
            mat-card-title{
              font-family: Outfit;
              font-size: 1rem;
              margin-bottom: 1rem;
            }


          }

        }

        button.show-more{
          padding: 0.5rem 1rem;
          border-radius: 50px;
          background-color: $blue-dark;
          color: white;
          position: absolute;
          bottom: 5rem;
          left: 50%;
        }
      }

      button.go-top-button{
        border-radius: 50%;
        padding: 1rem;
        position: absolute;
        bottom: 5rem;
        right: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $orange-dark;
        font-size: 1.2rem;
      }

      div.item:nth-of-type(1){
        background-color: $blue-dark;
      }

      div.item:nth-of-type(2){
        background-color: $red-darker;
      }

      div.item:nth-of-type(3){
        background-color: $orange-darker;
      }

      div.item:nth-of-type(4){
        background-color: $yellow-dark;
      }

      div.bar{
        width: 80%;
        background: #f7f8f8;
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        &::after{
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          background: #ddd;
          height: 5px;
        }

        .handler {
          width: 20px;
          height: 20px;
          background: red;
          border-radius: 50%;
          position: relative;
          z-index: 1;
        }
      }
    }





  }
}
