@import "variables";
@import "mixins";
@import "functions";
@import "material-themes";

html{
  // Hide scroll bar but allowing scroll
  -ms-overflow-style: none; // IE, Edge
  scrollbar-width: none; // Firefox
  overflow-y: hidden;
  &::-webkit-scrollbar{ // Chrome
    display: none;
  }
}
