$primary-color: #125EA9;
$primary-color-dark: #084c8e;
$primary-color-darker: #113d65;
$primary-color-lighter: #1978d7;
// Dark color
$dark-color: #29333B;
$red-darker: #3F3F3F;

// Red
$red-dark: #503131;

// Yellow
$yellow-darker: #554e34;

// Green
$green-darker: #415534;

// Yellow
$yellow-darker: #554e34;
